<nav id="blog-menu" class="menu-panel" role="navigation">
    <ul>
        <li class="green-light"><a href="{{@blog.url}}" title="All posts">Posts</a></li>
        <li class="pink-light"><a href="http://braverymedia.co" title="Bravery Media / Brave Design for Daring Minds">Bravery</a></li>
        <li class="blue-light"><a href="/about" title="About Joel G Goodman">About</a></li>
        <li class="yellow-light"><a href="/cv" title="CV [Curriculum Vitae]">CV</a></li>
    </ul>
    <button id="menu-close" class="menu-toggle"><span>&times;</span> Close</button>
</nav>