$typekit: omnes-pro, Helvetica, Arial, sans-serif;
$blue: #10CFED;
$green: #51FA44;
$pink: #FF00A7;
$orange: #FF9900;
$yellow: #fcff18;

// Font weights
$hairline: 100;
$light: 200;
$normal: 300;
$bold: 500;